@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);

:root {
    --primary: rgb(229, 43, 87);
    --secondary: rgb(12, 56, 94);
}

html {
    font-family: 'Lato';
}

body {
    overflow-x: hidden;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.content h1 {
    font-size: 80px;
    padding: 1rem 2rem;
    margin: 1rem 1.5rem;
}

.section-primary h1 {
    background: var(--secondary);
    color: white;
}

.section-secondary h1 {
    background: var(--primary);
}

.section-primary {
    background: var(--primary);
}

.section-secondary {
    background: var(--secondary);
}